{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Current Shares</th>
                <th>Current Price</th>
                <th>Transaction Type</th>
                <th>Transaction Time</th>
            </tr>
        </thead>
        <tbody>

            {% for transaction in transaction_history %}

                <tr>
                    <td> {{ transaction.symbol }} </td>
                    <td> {{ transaction.shares_quantity }} </td>
                    <td> {{ transaction.price | usd }} </td>
                    <td> {{ transaction.transaction_type }} </td>
                    <td> {{ transaction.Timestamp }} </td>
                </tr>

            {% endfor %}

        </tbody>
    </table>
{% endblock %}
